.star-div {
    width: 100%;
}
.star {
    width: 13px;
    margin-right: 6px;
}

@media screen and (min-width: 600px) {
    .star {
        width: 19px;
    }
}
@media screen and (min-width: 900px) {
    .star {
        width: 24px;
    }
}