.house-main {
    padding: 16px 3% 0 3%;
}
.housingsContainer {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 43px;
    border-radius: 25px;
}

@media screen and (min-width: 600px) {
    .house-main {
        padding-top: 63px;
    }
    .housingsContainer {
        background-color: #F6F6F6;
        padding-top: 4%;
        padding-bottom: 4%;
    }
}

