.card-container {
    width: 100%;
    aspect-ratio: 1.5/1;
    margin-bottom: 1em;
}
.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    
}
.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .8) 100%);

}
.card img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
.card-title {
    position: absolute;
    color: white;
    z-index: +1;
    bottom: 5%;
    left: 5%;
    max-width: 40%;
    font-size: 5vw;
}

@media screen and (min-width: 600px) {
    .card-container{
        width: 45%;
    }
    .card-title{
        font-size: 2.5vw;
    }
}
@media screen and (min-width: 900px) {
    .card-container{
        width: 28%;
        aspect-ratio: 1/1;
    }
    .card-title {
        font-size: 2vw;
    }
}