.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 68px;
    padding: 3% 3% 0 3%;
}
.logo-div {
    width: 10em;
}
.logo-kasa {
    width: 100%;
}
.navBar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    
}
.navBar ul li {
    width: 100%;
    min-width: 100%;
    font-size: 12px;
    color: #FF6060;
}
.underline {
    text-decoration: underline;
    color: #FF6060;
}

@media screen and (min-width:600px ) {
    .navBar ul li {
        font-size: 18px;
    }
}

@media screen and (min-width:900px ) {
    .navBar ul li {
        font-size: 24px;
    }
}
