.land-container{
    /*max-height: 25vw;*/
    height: 111px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
    
}
.land-container img {
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
    
}
.land-container h1 {
    position: absolute;
    left: 3%;
    color: white;
    font-size: 1.4em;
    width: 55%;
    text-decoration: none;
    font-weight: 400;
    
}


@media screen and (min-width:600px) {
    .land-container h1 {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 4vw;
    }
    .land-container {
        height: 223px;
    }
}