.foot {
    background-color: black;
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    
}
.foot img {
    width: 122px;
}
.foot p {
    color: white;  
}

@media screen and (min-width: 600px) {
    .foot {
        padding-top: 1em;
        gap: 3em;
    }
}