.container-error {
    display: flex;
    flex-direction: column;
    color: #FF6060;
    width: 100%;
    align-items: center;

}
.error-number {
    font-size: 30vw;
    font-weight: 700;
}
.error-message {
    font-size: 3vw;
}
.error-link {
    color: #FF6060;
    padding-top: 10vw;
    padding-bottom: 20vw;
    text-decoration: underline;
}